

body {
		background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
		font-weight: 400;
}


/*---------------------------------------
    Typorgraphy
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 350;
	font-size: 22px;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 65px;
    letter-spacing: 2px;
}

h2 {
  font-size: 45px;
	padding-top: 1px;
	padding-bottom: 1px;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #424242;
    font-size: 25px;
    line-height: 30px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#imgb {
    margin-top: -5px;
    padding-left: 75px;
    height: 40px;
}

#overview {
  padding-top: 13rem;
  padding-bottom: 14rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
	margin-top: 80px;
}

.title {
  color: grey;
  font-size: 18px;
}

.a1 {
  text-decoration: none;
  padding-right: 7px;
  font-size: 22px;
  color: black;
}


/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #99856c;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 800;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

/*---------------------------------------
    Intro section
-----------------------------------------*/
#intro {
    background: url(../images/asdf.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
    text-align: justify;
}

#h11{
	font-weight: 600;
}

#text{
	padding-right: 580px;
}

#intro h3 {
  letter-spacing: 2px;
}



/*---------------------------------------
   Overview  section
-----------------------------------------*/
#overview img {
  position: relative;
  padding-bottom: 32px;
}

.p1 {
	font-weight: 350;
	color:#d4d4d4
}
.p2 {
	font-weight: 500;
	color:#d4d4d4
}

/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }

  #intro { height: 65vh; }

  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}
